<div class="container">
    <h1>Usuarios</h1>
    <table class="table table-hover table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Nombre</th>
          <th>Usuario</th>
          <th>Password</th>
          <th>idTipo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td scope="row">{{usuario.idusuario}}</td>
          <td scope="row">{{usuario.usuario1}}</td>
          <td scope="row">{{usuario.password}}</td>
          <td scope="row">{{usuario.idtipo}}</td>
        </tr>
      </tbody>
    </table>
  </div>